img {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%
}

ion-button {
    --border-radius: 20px;
    --background: #654400;
    margin-left: 39%;
    font-size: smaller;
}

.btncolor {
    text-decoration: underline;
}

.smalltext {
    font-size: smaller;
}

h6 {
    color: #E67E22;
    text-decoration: underline;
}