<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button text="Conv."></ion-back-button>
    </ion-buttons>
    <ion-title>
      Voyages
    </ion-title>
  </ion-toolbar>
 <!--  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ngModelChange)="chargerArticlebyname()"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>
<ion-content class="card-background-page">
<div *ngIf="!show">
  <ion-card *ngFor="let voyage of items">
    <img src="{{voyage.pic}}" class="full-image"/>
   
    <div class="card-title">{{ voyage.name}}</div>
<div class="card-subtitle">{{ voyage.date}},{{ voyage.dure}}jours</div>
   
    <ion-buttons  fill="outline" routerLink="/tabs/pays/villes/voyages/detail/{{voyage.key}}">

      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>


    </ion-buttons>


  </ion-card>
</div>

  <div id="loadingBlock" class="preloader" *ngIf="show">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Loading</p>
    </div>
  </div>
</ion-content>
