<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  text="Pre."></ion-back-button>
        </ion-buttons>
        <ion-title>{{ items[0].category}}<br>
           
        </ion-title>
       
    </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="!show">

    <!--   <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
                {{ cat.category }}
            </ion-col>
        </ion-row> -->
<ion-list>
    
     <ion-item>
    <ion-slides>
        <ion-slide >
            <ion-card>
                <img src={{src}}>
               
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let img of items[0].imgs">
                            <button (click)="Onclickimage(img)" block>
                                <img src="{{img.pic}}" >
                            </button>
                            
                        </ion-col>
    
                    </ion-row>
                </ion-grid>
            </ion-card>
                </ion-slide>
    </ion-slides>
</ion-item>
<ion-item lines="full">
   
    <ion-button slot="end" size="small" fill="clear" routerLink="/tabs/pays/villes/{{getValue}}">
       Plus des Trips
    </ion-button>
</ion-item>
<ion-item>
    {{items[0].descreption}}
</ion-item> 
</ion-list>
</div>
<div id="loadingBlock" class="preloader" *ngIf="show">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Loading</p>
    </div>
</div>

</ion-content>