<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="show">
  <img src="https://firebasestorage.googleapis.com/v0/b/miniprojet01012022.appspot.com/o/logohome.png?alt=media&token=ea96f960-09af-4072-9b4d-afab98140bb7" />
  <form  >
    <ion-item id="a">
      <ion-label>Date debut</ion-label>
      <ion-text slot="end">
        {{dateValue1}}
      </ion-text>
    </ion-item>
<ion-item id="b">
  <ion-label>Date fin</ion-label>
  <ion-text slot="end">
    {{dateValue2}}
  </ion-text>
</ion-item>
   

  
   

    <ion-item lines="full">
      <ion-label>Ville</ion-label>
      <ion-select  [(ngModel)] = "ville" name="option">
        <ion-select-option  *ngFor="let c of villes" [value]="c.key" >{{c.name}}</ion-select-option>
      </ion-select>
    </ion-item>
   
  <ion-item lines="full">
    <div><ion-label>Prix</ion-label><br /><br /><br /></div>
<ion-range id="dual-range" dual-knobs pin color="dark" min="0" max="10000" step="50" (ionChange)="knobChange($event)" >
    
      <div slot="start">{{lowerValue}}</div>
      <div slot="end">{{upperValue}}</div>
    </ion-range>
   
    
  </ion-item>
  

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="search()">Search</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
 

  <ion-modal trigger="a">
    <ng-template>
      <ion-content>
<ion-item lines="full" >
  <ion-datetime  [value]="dateValue"
  #datetime
  size="cover"
  (ionChange)="dateChanged('vale1',datetime.value)"
  showDefaultButtons="true">

  </ion-datetime>
</ion-item>
      </ion-content>
    </ng-template>
 
  </ion-modal>

    <ion-modal trigger="b">
      <ng-template>
        <ion-content>
          <ion-item lines="full">
            <ion-datetime [value]="dateValue" 
            #datetime2 size="cover" 
            (ionChange)="dateChanged('vale2',datetime2.value)"
              showDefaultButtons="true">
    
            </ion-datetime>
          </ion-item>
        </ion-content>
      </ng-template>
    
    </ion-modal>
    </div>

    <div *ngIf="!show"  class="card-background-page">
      <ion-item lines="full">
      <ion-icon slot="end"  name="close-outline" (click)="close()"></ion-icon>
       
      
      
      </ion-item>
<div id="loadingBlock" class="preloader" *ngIf="loading">
  <div class="loader">
    <div class="loader__figure"></div>
    <p class="loader__label">Loading</p>
  </div>
</div>

  <div *ngIf="!loading">
<ion-card *ngFor="let voyage of voyages">
  <img src="{{voyage.pic}}" class="full-image" />

  <div class="card-title">{{ voyage.name}}</div>
  <div class="card-subtitle">{{ voyage.date}},{{ voyage.dure}}jours</div>

  <ion-buttons fill="outline" routerLink="/tabs/pays/villes/voyages/detail/{{voyage.key}}">

    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
  </ion-buttons>
</ion-card>
  </div>    

    </div>
</ion-content>
